//$school-color: #003e7e;
//$school-color: #0D47A1;
$school-color: #01579B;

$background-color: #f2f2f2;

/* Navigation */
$nav-height: 55px;
$nav-hamburger-padding: 17px;
$nav-overlay-opacity: 0.75;

/* UI */
$card-margin: 20px;
$header-grey: #4d4d4d;
