body,html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(57, 57, 57);
    padding: 100px;
    color: white;
}
p {
}
