@import './config.scss';

nav {
    display: block;
    background-color: $school-color;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    height: $nav-height;
    box-sizing: border-box;
    z-index: 10;
    border-bottom: 1px solid darken($school-color, 7%);
    //border-top: 1px solid lighten($school-color, 7%);
    border-top: 1px solid $school-color;

    box-shadow: 0 0 4px darken($school-color, 15%);

    h1 {
        display: inline-block;
        margin: 0;
        padding: 0 0 0 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;
        font-size: 24px;
        //height: 100%;
        color: white;
        font-family: 'Roboto Condensed';
        font-weight: normal;
        vertical-align: top;
        text-shadow: 0 0 3px darken($school-color, 20%);
    }

    #hamburger {
        margin-top: -1px;
        display: inline-block;
        width: $nav-height;
        height: $nav-height;
        //background-color: lighten($school-color, 5%);
        //border-right: 1px solid darken($school-color, 10%);
        border-right: 1px solid rgba(darken($school-color, 10%), 0);
        transition: background linear 0.2s, border linear 0.2s;
        //border-bottom: 1px solid darken($school-color, 5%);
        //border-top: 1px solid darken($school-color, 5%);
        box-sizing: border-box;

        &:before {
            content: "";
            position: absolute;
            left: $nav-hamburger-padding;
            top: #{floor(($nav-height - 16px)/2)};
            width: ($nav-height - ($nav-hamburger-padding * 2));
            height: 2px;
            background: white;
            box-shadow:
                0 7px 0 0 white,
                0 14px 0 0 white;
            // transition: left ease-in-out 0.25s;


        }

        &.selected {
            background-color: darken($school-color, 5%);
            border-right: 1px solid darken($school-color, 10%);
            border-bottom: 1px solid darken($school-color, 5%);
        }

        // &.hidden:before {
        //     left: $nav-hamburger-padding - ($nav-height/2);
        // }
    }

    #navOverlay {
        display: block;
        position: fixed;
        float: left;
        top: $nav-height;
        left: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: calc(100% - #{$nav-height});
        width: 100%;
        background-color: #3c3c3c;
        opacity: $nav-overlay-opacity;
        z-index: 4;
    }

    #navHolder {
        display: block;
        position: fixed;
        float: left;
        top: $nav-height;
        left: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: calc(100% - #{$nav-height});
        width: 80%;
        max-width: 300px;
        min-width: 200px;
        background-color: #3c3c3c;
        //transition: transform cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.25s;
        transition: transform ease-in-out 0.25s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 5;
        border-right: 1px solid #2d2d2d;
        border-top: 1px solid #2d2d2d;
        overflow-y: auto;
        list-style: none;
        //box-shadow: 0 0 7px #282828;

        &.dragging {
            transition: none;
        }

        &.hidden {
            //left: -100%;
            transform: translate3d(-100%, 0, 0);
        }

        #navDragger {
            display: block;
            width: 50px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 100%;
            background-color: none;
        }
    }

    .nav-header {
        display: block;
        margin: 0px 0 15px;
        padding: 0;
        width: 100%;
        height: 50px;

        h3 {
            display: block;
            width: calc(100% - 40px);
            height: 100%;
            margin: 0 20px;
            padding: 20px 5px;
            box-sizing: border-box;
            /* background-color: #545454; */
            /* border-top: 1px solid #252424; */
            border-bottom: 1px solid #8a8a8a;
            color: white;
            text-decoration: none;
            font-family: 'Roboto Condensed';
            font-weight: normal;
            font-size: 22px;
            text-shadow: 0 0 3px black;
        }
    }

    .nav-button {
        display: block;
        margin: 8px 0;
        padding: 0;
        width: 100%;
        height: 50px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 12px 18px;
            box-sizing: border-box;
            background-color: #545454;
            border-top: 1px solid #252424;
            border-bottom: 1px solid #252424;
            color: white;
            text-decoration: none;
            font-family: 'Roboto Condensed';
            font-weight: bold;
            font-size: 20px;
            text-shadow: 0 0 3px black;
            cursor: pointer;

            transition: background-color linear 0.15s,
                        border linear 0.15s,
                        box-shadow linear 0.15s;

        }

        &.active {
            a {
                background-color: lighten($school-color, 7%);
                box-shadow: 0 0 3px darken($school-color, 15%);

                border-top: 1px solid darken($school-color, 24%);
                border-bottom: 1px solid darken($school-color, 24%);
            }
        }
    }

    // #navSwiper {
    //     display: block;
    //     width: 50px;
    //     position: fixed;
    //     left: 0;
    //     background-color: rgba(#fff, 0);
    //
    //     top: $nav-height;
    //     height: calc(100% - #{$nav-height});
    // }
}
