@import './config.scss';

.ui-divider {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #b9b9b9;
    height: 1px;
    margin: 7px 0;
}

.ui-card {
    margin: $card-margin auto;
    width: calc(100% - #{$card-margin * 2});
    max-width: 680px;
    height: auto;
    padding: 10px 15px;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px #909090;
    overflow: hidden;

    .ui-header {
        margin: 0;
        padding: 5px;
        display: block;
        width: 100%;
        color: darken($header-grey, 7%);
        font-size: 22px;
        font-weight: Normal;
        font-family: 'Roboto';
    }

    .ui-subheader {
        margin: 0;
        padding: 5px;
        display: block;
        width: 100%;
        color: lighten($header-grey, 5%);
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto Condensed';
    }

    .ui-button {
        display: inline-block;
        width: auto;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 16px;
        color: $school-color;
        text-decoration: none;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 5px 7px;
        margin: 3px 5px;
        float: right;
    }
}
